<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>OpenCerts</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main>
    <h2>Certificações disponíveis</h2>
    <ul>
        <li th:each="cert : ${certifications}">
            <a th:href="@{/questions/{id}(id=${cert.id})}" th:text="${cert.displayName}"></a>
        </li>
    </ul>
</main>
</body>
</html>
