name: 'mongo-certification'

services:
  # Serviço do Banco de Dados MongoDB
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      # Expor a porta padrão do MongoDB (opcional, mas útil para clientes externos)
      - "27017:27017"
    volumes:
      # Mapeamento de volume para persistir os dados do banco de dados
      - ./data/db:/data/db
    environment:
      # Variáveis de ambiente para configurar o usuário root inicial do MongoDB
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password

  # Serviço da Interface de Visualização (Mongo Express)
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: unless-stopped
    ports:
      # Expor a porta 8081 para acessar a interface web
      - "8081:8081"
    depends_on:
      # Garante que o MongoDB inicie antes do Mongo Express
      - mongodb
    environment:
      # Configurações de conexão do Mongo Express ao MongoDB
      ME_CONFIG_MONGODB_SERVER: mongodb # Nome do serviço do MongoDB no docker-compose
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongo_user # Deve ser o mesmo usuário root definido acima
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongo_password # Deve ser a mesma senha root definida acima
      # Credenciais de acesso à interface web do Mongo Express (opcional)
      ME_CONFIG_BASICAUTH_USERNAME: express_user
      ME_CONFIG_BASICAUTH_PASSWORD: express_password

# Definição do volume para persistência de dados
volumes:
  data-db: